<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TVProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <TVProcessor.Properties.Settings>
      <setting name="ProcessingFolderRequiredPrefix" serializeAs="String">
        <value>\\charon\Downloads\Finished\TV\--emberMM\</value>
      </setting>
      <setting name="DownloadingFolderRequiredPrefix" serializeAs="String">
        <value>\\charon\Downloads\Finished\TV\</value>
      </setting>
      <setting name="TVShowFolderRequiredPrefix" serializeAs="String">
        <value>\\192.168.1.203\TV Documentaries\</value>
      </setting>
      <setting name="TVDocumentaryShowFolderRequiredPrefix" serializeAs="String">
        <value>\\192.168.1.203\TV\</value>
      </setting>
    </TVProcessor.Properties.Settings>
  </applicationSettings>
</configuration>
